:root {
  --gradient-dir1: to top right;
  --gradient-dir2: to bottom left;
  --gradient-dir3: to right top;
  --gradient-dir4: to left bottom;
  --gradient-dir5: to top left;
}

.mtk5 {
  color: transparent;
  background-image: linear-gradient(to right, #fc6c8f, #ffb86c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Dank mono", monospace;
  font-style: italic;
}

.mtk6 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right top, #fceabb, #f8db00);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: italic;
}

.mtk10,
.mtk7 {
  color: transparent;
  background-image: linear-gradient(to right, #098dff, #2cccff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk3 {
  color: transparent;
  background-image: linear-gradient(to right, #fc5e5e, #fc6cd3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-style: italic;
}

.mtk4 {
  color: transparent;
  background-image: linear-gradient(to right, #6a5af9, #d66efd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mtk9 {
  color: transparent;
  background-image: linear-gradient(to right, #4dd78a, #20e3b2, #a2de6a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-family: "Dank mono", monospace;
  font-style: italic;
}
